$font-stack-body: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$font-stack-brand: $font-stack-body;
$font-stack-heading: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$font-stack-link: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;


$link: hsl(0, 0%, 21%);
$link-hover: hsl(204, 71%, 39%);

$read-more: hsl(204, 71%, 39%);
$read-more-hover: hsl(348, 100%, 61%);


body {
  font: 1.3em $font-stack-body;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body[theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}

h1, h2, h3, h4, h5, h6 {
  font: 100% $font-stack-heading;
}

a {
  font: 100% $font-stack-link;
  font-style: normal;
}

img.is-rounded {
  margin: 0;
  padding: 0;
}

p.subtitle {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: bold;
}

section {
  flex: 1;
}

img[theme="dark"],
picture[theme="dark"],
video[theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}

.link {
  color: $link;
  &:hover {
    color: $link-hover;
  }
}
.read-more {
  color: $read-more;
  &:hover {
    color: $read-more-hover;
  }
}

.navbar-brand > a {
  font: 120% $font-stack-brand;
}
.navbar-item {
  font: 100% $font-stack-link;
}

.footnote-definition > p {
  display: inline;
  font-size: 83%;
}

$breakpoint-mobile: 768px;
@media (max-width: $breakpoint-mobile) {
  body {
    font: 85% $font-stack-body;
  }
  h1, h2, h3, h4, h5, h6 {
    font: 85% $font-stack-heading;
  }
  a {
    font: 100% $font-stack-link;
  }
  .navbar-brand > a {
    font: 100% $font-stack-brand;
  }
  .navbar-item {
    font: 85% $font-stack-link;
  }
}
